.dashboard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 15px 20px;
  color: black;
  background: var(--amarillo);
}

.manage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
