<div class="grid">
  <div class="form">
    <h1>Sign Up</h1>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Middle Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker3" [value]="date.value" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select>
          <mat-option *ngFor="let x of role" value="x.value">{{
            x.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <!-- (click)="send()" -->
        OK
      </button>
    </form>
    <a routerLink="/auth/login">Ya estas registrado?</a>
  </div>
  <div class="concept">
    <img src="../../assets/bee.webp" alt="bee image" />
  </div>
</div>
