main{
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: black;
}
.background-blob {
  position: fixed;
  width: 60%;
  height: 100vh;
  left: 20%;
  top: 0;
  z-index: -1;
  transition: background 0.5s ease-in-out;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #5b9ae3 0deg,
    #35cbe5 133.12deg,
    var(--amarillo) 208.13deg,
    var(--palido) 360deg
  ) no-repeat;
  filter: blur(200px);
  transform: rotate(180deg) translateY(40%);
}

.hero {
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.slogan {
  line-height: 60px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(227, 153, 153, 0.96) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 800;
  font-size: 3rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 1.5rem;
  margin: 0;
}

.name {
  line-height: 25px;
  letter-spacing: 0.08em;
  background: linear-gradient(360deg, #ffafbd 0%, #ffc3a0 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
  margin: 0;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-nice {
  background: linear-gradient(90deg, #e0eafc 0%, #cfdef3 100%);
  border-top: 1px solid #ffffff;
  color: #1a1e2a;
  border-radius: 32px;
  box-shadow: 0 0 #0000;

  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  column-gap: 0.5rem;
  align-items: center;
  height: 3rem;
  display: flex;
  font-weight: 500;
  cursor: pointer;
}

.button-nice:hover {
  box-shadow: 0 1px 40px #e0eafc66;
}

.button-nice2 {
  border-top: 1px solid #1872d8;
  background: linear-gradient(90deg, #35cbe5 0%, #5b9ae3 100%);
  color: #1a1e2a;
  border-radius: 32px;
  box-shadow: 0 0 #0000;

  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  column-gap: 0.5rem;
  align-items: center;
  height: 3rem;
  display: flex;
  font-weight: 500;
  cursor: pointer;
}

.button-nice2:hover {
  box-shadow: 0 1px 40px #181bd8c5;
}
