<mat-nav-list>
  <mat-list-item routerLink="/home">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Auth</div>

  <mat-list-item routerLink="/auth/login">
    <mat-icon matListItemIcon>login</mat-icon>
    <span matListItemTitle>Login</span>
  </mat-list-item>

  <mat-list-item routerLink="/auth/register">
    <mat-icon matListItemIcon>add</mat-icon>
    <span matListItemTitle>Register</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <div *ngIf="authService.isAuth()">
    <div mat-subheader>Dashboards</div>

    <mat-list-item routerLink="/dash/user">
      <mat-icon matListItemIcon>summarize</mat-icon>
      <span matListItemTitle>User</span>
    </mat-list-item>
    <mat-list-item routerLink="/dash/admin">
      <mat-icon matListItemIcon>widgets</mat-icon>
      <span matListItemTitle>Admin</span>
    </mat-list-item>
  </div>
</mat-nav-list>
