<mat-card>
  <form [formGroup]='form' (ngSubmit)="submitForm()">
    <mat-card-header>
      <mat-card-title>Add task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title"/>
          <mat-hint *ngIf="form.get('title')?.errors?.['required'] && form.touched">
            Title is required.
          </mat-hint>
          <mat-hint *ngIf="form.get('title')?.errors?.['minlength'] && form.touched">
            Title must be at least 8 characters long.
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-hint *ngIf="form.get('description')?.errors?.['required']&& form.touched">
            Description is required.
          </mat-hint>
          <mat-hint *ngIf="form.get('description')?.errors?.['minlength'] && form.touched">
            Description must be at least 8 characters long.
          </mat-hint>
        </mat-form-field>
        <mat-slider [max]="max" [min]="min" [step]="step" [discrete]="true">
          <input matSliderThumb formControlName="priority"/>
        </mat-slider>
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-raised-button color="primary" [disabled]="form.invalid">Save</button>
      <button mat-raised-button color="accent" (click)="clearForm()" >Discard</button>
    </mat-card-actions>
  </form>
</mat-card>
